<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TapTrapAttackShowcase"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".clickjacking.ClickjackingActivity"
            android:exported="false" />
        <activity
            android:name=".notificationservice.NotificationServiceActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity android:name=".notificationservice.NotificationServiceAttackActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".runtimepermissions.RuntimePermissionsActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".runtimepermissions.RuntimePermissionAttackActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".web.WebActivity"
            android:exported="false" />
        <activity
            android:name=".web.TapGameWebActivity"
            android:exported="true"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="myapp"
                    android:host="web-permission-success" />
            </intent-filter>
        </activity>
        <activity
            android:name=".clickjacking.BookSelectionActivity"
            android:exported="true"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="myapp"
                    android:host="clickjacking-first-success-button-one" />
                <data
                    android:scheme="myapp"
                    android:host="clickjacking-first-success-button-two" />
                <data
                    android:scheme="myapp"
                    android:host="clickjacking-first-success-button-three" />
            </intent-filter>
        </activity>
        <activity
            android:name=".clickjacking.BookDetailsActivity"
            android:exported="true"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="myapp"
                    android:host="clickjacking-second-success-button" />
            </intent-filter>
        </activity>

        <service
            android:name=".notificationservice.NotificationListenerService"
            android:exported="true"
            android:label="Listener"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>

        </service>
    </application>

</manifest>